{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <title>Ken Fontaine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/auryc.css' %}" rel="stylesheet" />
    <link href="{% static 'css/materialize.min.css'%}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    {% include 'elements/part_home.html' %}
    {% include 'elements/part_me.html' %}
    {% include 'elements/part_project.html' %}
    {% include 'elements/part_skills.html' %}
    {% include 'elements/part_contact.html' %}

    <script src = {% static 'js/auryc.js' %}></script>
    <script src = {% static 'js/materialize.min.js' %}></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>