<div class="home grid">
    <div class="navBar">

        <ul>
            <li data-link="home"><a>Home</a></li>
            <li data-link="projet"><a>Projets</a></li>
            <li data-link="skills"><a>Compétences</a></li>
            <li data-link="contact"><a>Contact</a></li>
        </ul>

    </div>

    <div class="title flex">
        <h4>Ken Fontaine</h4>
        <div class="desc-title">
            <h6>Developpeur Web</h6>
            <p>made by Simplon.co</p>
        </div>
    </div>

    <div class="desc row">
        <div class="col s8 offset-s2">Un passionné pour des projets passionnants</div>
    </div>

    <div class="dev">
        <h1>DEVELO</h1>
    </div>

    <div class="web">
        <h1>UR WEB</h1>
    </div>

    <div class="desc-mobile">
        <h1 class="right-title">Dev</h1>
        <h1 class="left-title">Web</h1>
    </div>
</div>
